<div class="container-fluid">
  <div class="row">
    <div style="min-width: 100%; background-color: white; margin-left: -15px;">
      <h3 style="padding: 20px;">Dashboard</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "layouts/shared/flash_messages", flash: flash %>
</div>
<div class="container-fluid" style="margin-bottom: 80px;">
  <div class="row" style="margin-right: 15px;">
    <div class="col-sm">
      <div class="card text-center" style="padding: 15px;">
        <h2><%= @total_clients.count %></h2>
        <p class="lead">
          Total Clients
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="padding: 15px;">
        <h2><%= @live_clients.count %></h2>
        <p class="lead">
          Live Clients
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="padding: 15px;">
        <h2><%= @live_campaigns.count %></h2>
        <p class="lead">
          Live Campaigns
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="padding: 15px;">
        <h2><%= @total_prospects.count %></h2>
        <p class="lead">
          Prospects in DB
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="padding: 15px;">
        <h2><%= @prospects_in_sequence.count %></h2>
        <p class="lead">
          Prospects in Seq
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-right: 15px; margin-top: 30px;">
    <div class="col-sm">
      <div class="card" style="padding: 15px;">
        <p class="lead">
          New Clients
        </p>
        <%= line_chart Client.group_by_day(:created_at).count %>
      </div>
    </div>
  </div>
</div>
