<table class="table table-hover"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>Company</th>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Branch location</th>

    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to 'View', client, class: "btn btn-sm btn-outline-primary" %></td>
        <td><span class="badge badge-primary"><%= client.contact_level %></span></td>
        <td><%= client.client_company.company_name %></td>
        <td><%= client.title %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= client.branch_location %></td>

        <!-- <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
