<div class="container-fluid">
  <div class="row">
    <div style="min-width: 100%; background-color: white; margin-left: -15px;">
      <h3 style="padding: 20px;">All Clients (<%= @clients.count %>)</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "layouts/shared/flash_messages", flash: flash %>
</div>

<div class="container-fluid">
  <div class="row">
    <%= link_to 'New Client', new_client_path, class: "btn btn-outline-secondary", style: "width: 180px;" %> <%= link_to 'New Company', new_client_company_path, class: "btn btn-outline-secondary", style: "margin-left: 20px; width: 180px;" %><%= link_to 'View All Companies', client_companies_path, class: "btn btn-outline-info", style: "margin-left: 20px; width: 180px;" %>
  </div>
</div>

<div class="container-fluid" style="margin-bottom: 80px;">
  <div class="row" style="margin-top: 30px;">
    <div class="card table-responsive" style="padding: 20px; margin-right: 15px;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th>Company</th>
            <th>Title</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Branch location</th>

          </tr>
        </thead>

        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= link_to 'View', client, class: "btn btn-sm btn-outline-primary" %></td>
              <td><span class="badge badge-primary"><%= client.contact_level %></span></td>
              <td><%= client.client_company.company_name %></td>
              <td><%= client.title %></td>
              <td><%= client.first_name %></td>
              <td><%= client.last_name %></td>
              <td><%= client.email %></td>
              <td><%= client.branch_location %></td>

              <!-- <td><%= link_to 'Edit', edit_client_path(client) %></td>
              <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
