<div class="container-fluid">
  <div class="row">
    <div style="min-width: 100%; background-color: white; margin-left: -15px;">
      <h3 style="padding: 20px;"><%= @client.first_name %> <%= @client.last_name %> - <%= @client.client_company.company_name %></h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "layouts/shared/flash_messages", flash: flash %>
</div>
<div class="container-fluid">
  <div class="row">
    <%= link_to 'Back', clients_path, class: "btn btn-outline-secondary", style: "width: 180px;" %> <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-outline-primary", style: "width: 180px; margin-left: 20px;" %> <%= link_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger", style: "width: 180px; margin-left: 20px;" %>
  </div>
</div>

<div class="container-fluid" style="margin-bottom: 80px;">
  <div class="row" style="margin-top: 30px;">
    <div class="col" style="margin-left: -15px;">
      <div class="card" style="padding: 20px; min-width: 100%;">

        <%= render 'show', client: @client %>

      </div>
    </div>
  </div>
</div>
