<p id="notice"><%= notice %></p>

<h1>Prospect Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Street address</th>
      <th>State</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospect_companies.each do |prospect_company| %>
      <tr>
        <td><%= prospect_company.company_name %></td>
        <td><%= prospect_company.street_address %></td>
        <td><%= prospect_company.state %></td>
        <td><%= prospect_company.postal_code %></td>
        <td><%= prospect_company.city %></td>
        <td><%= prospect_company.country %></td>
        <td><%= link_to 'Show', prospect_company %></td>
        <td><%= link_to 'Edit', edit_prospect_company_path(prospect_company) %></td>
        <td><%= link_to 'Destroy', prospect_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect Company', new_prospect_company_path %>
