<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @prospect_characteristic.job_title %>
</p>

<p>
  <strong>Seniority level:</strong>
  <%= @prospect_characteristic.seniority_level %>
</p>

<p>
  <strong>Function:</strong>
  <%= @prospect_characteristic.function %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @prospect_characteristic.industry %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @prospect_characteristic.company_name %>
</p>

<p>
  <strong>Company headcount:</strong>
  <%= @prospect_characteristic.company_headcount %>
</p>

<p>
  <strong>Past company:</strong>
  <%= @prospect_characteristic.past_company %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @prospect_characteristic.company_type %>
</p>

<p>
  <strong>School:</strong>
  <%= @prospect_characteristic.school %>
</p>

<p>
  <strong>Language:</strong>
  <%= @prospect_characteristic.language %>
</p>

<p>
  <strong>Years in current position:</strong>
  <%= @prospect_characteristic.years_in_current_position %>
</p>

<p>
  <strong>Years at current company:</strong>
  <%= @prospect_characteristic.years_at_current_company %>
</p>

<p>
  <strong>Years of experience:</strong>
  <%= @prospect_characteristic.years_of_experience %>
</p>

<%= link_to 'Edit', edit_prospect_characteristic_path(@prospect_characteristic) %> |
<%= link_to 'Back', prospect_characteristics_path %>
