<%= simple_form_for(@client_company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :street_address %>
    <%= f.input :state %>
    <%= f.input :postal_code %>
    <%= f.input :city %>
    <%= f.input :country, selected: [ "United Kingdom" ], collection: [ "Australia", "New Zealand", "United Kingdom" , "United States"] %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Save", class: "btn btn-outline-success", style: "margin: 30px; width: 280px;" %>
  </div>
<% end %>
