<p class="lead">
  Company Details
</p>

<p>
  <strong>Company name:</strong>
  <%= @client_company.company_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @client_company.street_address %>
</p>

<p>
  <strong>State:</strong>
  <%= @client_company.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @client_company.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @client_company.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client_company.country %>
</p>
