<div class="container-fluid">
  <div class="row">
    <div style="min-width: 100%; background-color: white; margin-left: -15px;">
      <h3 style="padding: 20px;">All Companies (<%= @client_companies.count %>)</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "layouts/shared/flash_messages", flash: flash %>
</div>

<div class="container-fluid">
  <div class="row">
    <%= link_to 'New Client', new_client_path, class: "btn btn-outline-secondary", style: "width: 180px;" %> <%= link_to 'New Company', new_client_company_path, class: "btn btn-outline-secondary", style: "margin-left: 20px; width: 180px;" %><%= link_to 'View All Clients', clients_path, class: "btn btn-outline-info", style: "margin-left: 20px; width: 180px;" %>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="card table-responsive" style="padding: 20px; margin-right: 15px;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Company name</th>
            <th>Street address</th>
            <th>State</th>
            <th>Postal code</th>
            <th>City</th>
            <th>Country</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @client_companies.each do |client_company| %>
            <tr>
              <td><%= client_company.company_name %></td>
              <td><%= client_company.street_address %></td>
              <td><%= client_company.state %></td>
              <td><%= client_company.postal_code %></td>
              <td><%= client_company.city %></td>
              <td><%= client_company.country %></td>
              <td><%= link_to 'Show', client_company %></td>
              <td><%= link_to 'Edit', edit_client_company_path(client_company) %></td>
              <td><%= link_to 'Destroy', client_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
