<%= simple_form_for(@prospect) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.association :campaign %>
    <%= f.input :prospect_type %>
    <%= f.input :prospect_status %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :mobile_number %>
    <%= f.input :branch_location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
